.details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  margin-top: 5rem;
}

.details__product {
  display: -ms-grid;
  display: grid;
}

.details__photo-lg,
.details__photo-lg__img {
  display: block;
  margin: auto;
  width: 100%;
}

.details__box-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
}

.details__box-text .details__title {
  margin-bottom: 1rem;
}

.details__box-text .details__description {
  font-size: 1.5rem;
}

.details__photos-min {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.details__photos-min .details__photos-min__img {
  width: 100%;
}

.by {
  font-size: 1.2rem;
  -ms-grid-column-align: end;
      justify-self: end;
  color: #6e2320;
}

.title {
  font-weight: 300;
  color: #d0403a;
  text-transform: uppercase;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5rem 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container-title {
  display: -ms-grid;
  display: grid;
}

.header .header__img {
  width: 3.5rem;
}

@font-face {
  font-family: Arboria;
  font-style: normal;
  font-display: swap;
  src: url(https://midia.fotos-riachuelo.com.br/spa-storefront/public/fonts/arboria-medium.woff) format("woff");
}

html {
  font-family: 'Arboria', sans-serif;
  font-size: 62.5%;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #261E1E;
  text-decoration: none;
}

.category {
  margin: 1.5rem 0;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #261E1E;
}

.menu {
  background-color: #eaeaea;
}

.menu__button {
  display: none;
}

.menu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__ul .menu__li {
  font-size: 1.4rem;
  list-style: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 2rem;
}

.menu__ul .menu__li .menu__link {
  text-transform: uppercase;
}

.menu__ul .menu__li:hover {
  opacity: 50%;
}

.container {
  margin: 0 3.5rem;
}

.search {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
}

.search .search__input {
  width: 100%;
  margin-right: 1rem;
  border: solid 0.1rem #E5E5E5;
  font-size: 1.5rem;
  padding: 1rem;
}

.search .search__button {
  width: 10rem;
  border: none;
  background-color: #eaeaea;
  cursor: pointer;
}

.search .search__button .search__img {
  width: 3rem;
}

.details__grup-button {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr min-content;
      grid-template-rows: 1fr -webkit-min-content;
      grid-template-rows: 1fr min-content;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  grid-gap: 1rem;
}

.add {
  font-family: 'Arboria', sans-serif;
  width: 100%;
  height: 4rem;
  border: none;
  color: #261E1E;
  background-color: transparent;
  cursor: pointer;
  -webkit-perspective: 55rem;
          perspective: 55rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.add:hover {
  opacity: 90%;
}

.add__content {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.add:hover .add__content {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.add__cart {
  position: absolute;
}

.add__cart, .add__ok {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 4rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: solid 0.1rem #bbbaba;
}

.add__ok {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.add:focus .add__content {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #70ff99;
}

.add__img {
  position: absolute;
  right: 0;
  margin-right: 0.5rem;
  width: 3rem;
}

.add__ok-img {
  width: 3rem;
  margin: 0 auto;
}

.details__sizes {
  display: -webkit-inline-flex;
}

.details__sizes .details__radios input[type=radio] {
  all: unset;
  position: absolute;
}

.details__label {
  cursor: pointer;
}

.details__label .details__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 0.1rem #E5E5E5;
  font-size: 1.6rem;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.details__radios input[type=radio]:checked + .details__span {
  background-color: #000000;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.details__button {
  width: 25rem !important;
}

.group-products {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-bottom: 5rem;
}

.product {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.product__img {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
  margin-bottom: 1rem;
}

.name-product {
  font-size: 1.8rem;
  margin: 0.5rem 0;
  height: 10rem;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.name-product:hover {
  opacity: 50%;
}

.value-product {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0.5rem 0;
  color: #D0403A;
}

.detail-add {
  display: -ms-grid;
  display: grid;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
  height: 15rem;
  background-color: #70ffed;
  margin: 5rem 0;
  padding: 0.5rem;
}

.description-card {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: end;
      align-content: end;
}

.description-card__desc {
  font-size: 2rem;
}

.description-card__manual {
  letter-spacing: 0.86rem;
  font-size: 2.4rem;
}

.card-title {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: end;
      justify-self: end;
}

.title-manual {
  text-transform: uppercase;
  font-weight: 300;
}

.card-title__span {
  font-size: 1.2rem;
  -ms-grid-column-align: end;
      justify-self: end;
}

.blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  margin-bottom: 3rem;
}

.blog__p {
  font-size: 2rem;
}

.blog__img {
  width: 100%;
}

.blog-master {
  max-width: 60rem;
}

.blog-master__img {
  width: 100%;
}

.blog-min {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.by {
  font-size: 1.2rem;
  -ms-grid-column-align: end;
      justify-self: end;
  color: #6e2320;
}

.title {
  font-weight: 300;
  color: #d0403a;
  text-transform: uppercase;
}

.footer-container {
  display: -ms-grid;
  display: grid;
  background-color: #e8e8e8;
}

.footer-contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 3.5rem 3.5rem 3.5rem;
}

.container-title-footer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 3.5rem;
}

.container-title-footer__span {
  -ms-grid-column-align: end;
      justify-self: end;
  font-size: 1.2rem;
}

.footer-contact__li {
  font-size: 1.7rem;
  margin: 0.8rem 0;
  list-style: none;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.redes__img {
  width: 3rem;
  margin: 1rem 1rem 1rem 0;
}

.contact__img {
  width: 2rem;
  vertical-align: sub;
}

.newsletter__input {
  width: 25rem;
  height: 3rem;
  background-color: #ffffff;
  border: solid 0.1rem #959595;
  margin: 0.8rem 0;
}

.newsletter__button {
  font-family: 'Arboria', sans-serif;
  width: 14rem;
  height: 3rem;
  background-color: #000000;
  border: none;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.newsletter__button:hover {
  opacity: 50%;
}

@media only screen and (max-width: 1190px) {
  .group-products {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1115px) {
  .box-cart {
    display: -ms-grid;
    display: grid;
  }
  .box-cart__product {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .box-cart__img {
    max-width: 50rem;
  }
}

@media only screen and (max-width: 910px) {
  .group-products {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .menu__button {
    display: inline;
    width: 5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .menu__ul {
    left: -100vw;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    position: absolute;
    background-color: #eaeaea;
    width: 100%;
    height: 30rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .menu__ul--active {
    left: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .blog {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .blog-master {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .footer-contact {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 870px) {
  .details {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .details__photo-lg,
  .details__photo-lg__img {
    display: block;
    margin: auto;
    max-width: 30rem;
  }
  .details__photos-min {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .box-cart .box-cart__list-products .box-cart__product {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .details__grup-button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 700px) {
  .description-card__desc {
    font-size: 1.5rem;
  }
  .description-card__manual {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 630px) {
  .group-products {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .header {
    margin: 5rem 2rem;
  }
  .title {
    font-size: 3rem;
  }
  .description-card__desc {
    font-size: 1.2rem;
    text-align: center;
  }
  .description-card__manual {
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 0.4rem;
  }
  .title-manual {
    font-size: 2.5rem;
  }
  .description-card {
    margin-bottom: 2rem;
  }
  .blog {
    grid-gap: 0;
  }
  .blog-min {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .blog__p {
    margin-bottom: 3rem;
  }
  .footer-contact {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=detalhes.css.map */