@font-face {
  font-family: Arboria;
  font-style: normal;
  font-display: swap;
  src: url(https://midia.fotos-riachuelo.com.br/spa-storefront/public/fonts/arboria-medium.woff) format('woff')
}
.box-cart {
  display: flex;
  margin: 1rem 0;
  .box-cart__title{
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .box-cart__desc {
    font-weight: 100;
    font-size: 1.3rem;
  }
  .box-cart__list-products {
    display: grid;
    .box-cart__product {
      display: grid;
      grid-template-columns: 2fr 2fr repeat(4, 1fr) ;
      grid-gap: 2rem;
      margin-bottom: 2rem;
      .box-cart__img {
        width: 100%;
      }
      .box-cart__name {
      }
      .box-cart__size {
      }
      .box-cart__value {
        white-space: nowrap
      }
      .box-cart__qt {
        .box-cart__input {
          width: 5rem;
          height: 3rem;
          font-size: 2rem;
          text-align: center;
        }
      }
      .box-cart__sub-total {
        margin-right: 2rem;
        white-space: nowrap
      }
    }
  }

  .box-cart__revis {
    display: grid;
    background-color: #ffe1e0;
    text-align: center;
    height: 100%;
    .box-cart__total {
      margin: 2rem;
      .box-cart__t {
        font-size: 3rem;
        white-space: nowrap;
      }
    }
    .box-cart__qt-bit {
      margin: 1rem
    }
    .box-cart__desc {
      font-size: 2rem;
      white-space: nowrap;
    }
    .box-cart__button {
      height: 5rem;
      width: 20rem;
      font-family: Arboria;
      margin: 2rem auto;
      border: solid 0.1rem #E5E5E5;
      font-size: 1.6rem;
      background-color: #70ff99;
      transition: 0.3s;
      cursor: pointer;
      box-shadow: 0.1rem 0.1rem 0.8rem 0.1rem #d4d4d4
    }
    .box-cart__button:hover {
      background-color: #01681e;
      color: #ffffff;
    }
  }
}
