.alert {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 5rem;
  top: 0;
  text-align: center;
  color: #0c4001;
  background-color: #91db81;
  font-size: 2rem;
}
.alert-flex {
  display: flex;
}