.details__photo-lg, 
.details__photo-lg__img {
  display: block;
  margin: auto;
  width: 100%;
}

@media only screen and (max-width: 870px) {
  .details__photo-lg, 
.details__photo-lg__img {
  display: block;
  margin: auto;
  max-width: 30rem;
}
}