.details__photos-min {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  .details__photos-min__img {
    width: 100%;
  }
}

@media only screen and (max-width: 870px) {
  .details__photos-min {
    order: -1;
  }
}
